.example
  &__header
    color: $text-color-light
    text-align: center
    text-transform: uppercase
  &__img-wrap
    text-align: center
  &-wrap
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    padding-bottom: 65px
  &-card
    display: flex
    flex-direction: column
    flex-basis: 49%
    margin-top: 35px
    align-items: center
    background: rgba(255,255 ,255 ,0.1 )
    border-radius: 5px
    padding: 10px
    font-size: 20px
    &__img
      min-height: 300px
      max-width: 421px
      img
        overflow: hidden
    &__buttons
      margin-top: 30px
@media screen and ( max-width:768px  )
  .example
    &-wrap
      padding: 10px 10px
    &-card
      padding: 0
      padding-top: 5px
      margin-top: 7px
      &__title
        text-align: center
        min-height: 30px
        font-size: 15px
        span
          display: none
      &__img
        min-height: 109px
      &__buttons
        display: flex
        flex-direction: column-reverse
        text-align: center
        margin-top: 10px
        .button
          font-size: 13px
          margin-bottom: 5px
          padding: 5px 10px
        .button-more
          font-size: 12px
          padding: 4px 8px
