.map
  position: relative
.card
  position: absolute
  top: 16%
  left: 30%
  &__blocks
    padding: 30px
    border-radius: 5px
    color: $text-color
    background: rgba(255,255 ,255 ,0.8 )
    .button
      padding: 10px 20px
      margin-bottom: 20px
  &__block
    margin-bottom: 20px
    display: flex
    flex-direction: column
    h3
      font-size: 17px
      margin-bottom: 5px
      font-weight: 700
    span
      line-height: 17px
    &:last-child
      margin-bottom: 0px
  &-header-wrap
    h3
      font-size: 17px
      font-weight: 700
      margin-bottom: 5px
      display: flex
      flex-direction: row
    img
      left: 5px
      position: absolute
      max-width: 20px
      max-height: 25px

