@import "_reset.sass"
@import "_variables"
@import "_button"
@import "header"
@import "_main.sass"
// container 
.container
  max-width: 945px
  margin: 0 auto
//body
body
  font-family: Roboto
  color: $text-color-light
  box-sizing: border-box
  background-color: $main-color
