@import "_reset.sass"
@import "_variables.sass"
@import "_button.sass"
*
  box-sizing: border-box
body
  font-family: Roboto
  font-weight: 500
  color: $text-color-light
  box-sizing: border-box
  background-color: $main-color
.container
  max-width: 946px
  margin: 0 auto
@import "_header.sass"
@import "_main.sass"
@import "_features.sass"
@import "_example.sass"
@import "_secondary.sass"
@import "_showcase.sass"
@import "_clients.sass"
@import "_feedback.sass"
@import "_map.sass"
@import "_footer.sass"
// Adaptive 
