/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 Changed from CSS to SASS
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

.button {
  background-color: #303030;
  border-radius: 4px;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 500;
  padding: 13px 22px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #232323;
  color: #d6d6d6;
}

.big-button {
  padding: 19px 18px 19px 18px;
}

.button-more {
  padding: 11px 20px;
  background: none;
  color: #373737;
  border: 2px solid #303030;
}

.button-more:hover {
  background: #282828;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: 500;
  color: #d6d6d6;
  box-sizing: border-box;
  background-color: #333;
}

.container {
  max-width: 946px;
  margin: 0 auto;
}

.header {
  background-color: #474747;
}

.header-img {
  margin-right: 155px;
}

.header__blocks {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  align-items: center;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header-contacts__phone {
  padding-right: 10px;
  border-right: 2px solid #d6d6d6;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}

.header-contacts__phone:last-child {
  border: none;
}

.header-button {
  display: flex;
  align-items: center;
}

.header-button img {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .header-img {
    max-width: 150px;
    margin: 0;
  }
  .header__blocks {
    padding: 10px 5px;
    margin: 0;
  }
  .header-contacts {
    justify-content: center;
    margin: 0;
  }
  .header-contacts__phone {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border: none;
    font-size: 15px;
  }
  .header-contacts__phone:last-child {
    margin: 0;
  }
  .header-button {
    padding: 7px;
  }
  .header img {
    margin: 0;
  }
  .header span {
    display: none;
  }
}

.main {
  position: relative;
  background: url(../img/main/main-background.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
}

.main-cardboards {
  margin-right: 30px;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.main__blocks {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  align-items: flex-end;
}

.main-info__title {
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 400;
  line-height: 42px;
  width: 524px;
}

.main-info__title span {
  font-weight: 700;
  font-size: 40px;
}

.info-card {
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.info-card-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.info-card-title span:last-child {
  font-weight: 700;
  text-transform: uppercase;
}

.info-card-form {
  margin-bottom: 12px;
}

.info-card-form input {
  font-size: 12px;
  background-color: #e7e7e7;
  padding: 21px 130px 21px 19px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.card-small {
  font-size: 13px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .main__blocks {
    padding: 10px 5px;
  }
  .main-cardboards {
    display: none;
  }
  .main-info {
    text-align: center;
  }
  .main-info__title {
    max-width: 100%;
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
    line-height: normal;
  }
  .main-info__title span {
    font-size: 18px;
  }
  .info-card {
    padding: 6px;
    text-align: center;
  }
  .info-card-title {
    line-height: normal;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12px;
  }
  .info-card-title span {
    display: none;
    font-size: 10px;
    font-weight: 300;
  }
  .info-card-title span:first-child {
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    display: inline !important;
  }
  .info-card-form {
    margin-bottom: 8px;
  }
  .info-card-form input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
  }
  .info-card-form input::placeholder {
    text-align: center;
  }
  .info-card-form .big-button {
    padding: 8px 15px;
    font-size: 12px;
  }
  .info-card small {
    font-size: 10px;
  }
}

.features-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
}

.features__col {
  flex-basis: 31%;
  margin-right: 30px;
}

.features__col:last-child {
  margin-right: 0px;
}

.features__header {
  box-sizing: content-box;
  padding: 5px;
  min-height: 80px;
  margin-bottom: 25px;
  text-align: center;
  background: #282828;
  color: #d6d6d6;
  font-size: 16px;
  border-radius: 5px;
}

.features__header h2 {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
  color: #e3e3e3;
}

.features__header h2 sup {
  font-size: 23px;
}

.features-card {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 28px 10px 28px 8px;
  border-radius: 5px;
  background-color: #b9b9b9;
}

.features-card__icon {
  margin-right: 5px;
  max-width: 56px;
  max-height: 56px;
}

.features-card__info {
  color: #373737;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.features-card__info div {
  max-width: 210px;
}

.features-card h3 {
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}

.example__header {
  color: #d6d6d6;
  text-align: center;
  text-transform: uppercase;
}

.example__img-wrap {
  text-align: center;
}

.example-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 65px;
}

.example-card {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  margin-top: 35px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.example-card__img {
  min-height: 300px;
  max-width: 421px;
}

.example-card__img img {
  overflow: hidden;
}

.example-card__buttons {
  margin-top: 30px;
}

.secondary {
  position: relative;
  background: url(../img/secondary/background.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
}

.secondary::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.secondary-wrap {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.secondary-header {
  margin-bottom: 32px;
  line-height: 35px;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

.secondary-header h2 {
  font-size: 32px;
}

.secondary-form {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.secondary-form__title {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
}

.secondary-form input {
  display: block;
  margin-bottom: 12px;
  padding: 21px 120px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.secondary-form button {
  margin-bottom: 10px;
}

.secondary-form small {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.showcase-wrap {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
}

.descr {
  margin-top: 20px;
  width: 45%;
  max-width: 400px;
  min-height: 400px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.descr-header {
  display: block;
  background: #232323;
  color: #d6d6d6;
  padding: 20px 185px 16px 29px;
  font-size: 28px;
  font-weight: 400;
  line-height: 22px;
}

.descr-text {
  margin-top: 28px;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.slider {
  width: 55%;
  position: relative;
}

.slider-big__item {
  min-width: 1000px;
}

.slider-small__item {
  min-width: 10px;
  transition: all 0.3s ease 0s;
  margin-top: 10px;
  cursor: move;
}

.slider .slick-slide {
  opacity: 0.4;
}

.slider .slick-slider {
  display: flex;
}

.slider .slick-list {
  overflow: hidden;
}

.slider .slick-track {
  display: flex;
  min-width: 0;
}

.slider .slick-current {
  opacity: 1;
}

.slider .slick-arrow {
  cursor: pointer;
  padding: 30px 8px;
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: 0;
  top: 50%;
  position: relative;
  z-index: 10;
}

.slider .slick-arrow.slick-prev {
  text-align: center;
  background: #232323 url("../img/slider/left-arrow-orig.svg") 50% 50%/70% no-repeat;
  left: 0;
}

.slider .slick-arrow.slick-next {
  text-align: center;
  background: #232323 url("../img/slider/right-arrow-orig.svg") 50% 50%/70% no-repeat;
  right: 0;
}

.slider .slick-arrow.slick-next:hover {
  background: #3d3d3d url("../img/slider/right-arrow-orig.svg") 50% 50%/70% no-repeat;
}

.slider .slick-arrow.slick-prev:hover {
  background: #3d3d3d url("../img/slider/left-arrow-orig.svg") 50% 50%/70% no-repeat;
}

.slider .slick-arrow.slick-prev.slick-disabled {
  opacity: 0.4;
}

.slider .slick-arrow.slick-next.slick-disabled {
  opacity: 0.4;
}

.clients-header {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.clients-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

.clients-col {
  display: flex;
  flex-direction: column;
}

.clients-img-wrap {
  transition: .4s;
  opacity: 0.2;
  margin-top: 30px;
  border: 2px solid #d6d6d6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 212px;
  height: 130px;
  background: #fff;
}

.clients-img-wrap img {
  margin: 0 auto;
  vertical-align: middle;
}

.clients-img-wrap:hover {
  opacity: 1;
}

.feedback {
  padding-bottom: 50px;
}

.feedback .container {
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.1);
}

.feedback-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}

.feedback__blocks {
  padding: 10px;
  border-radius: 5px;
}

.feedback-slider {
  display: flex;
  text-align: center;
  min-width: 0;
}

.feedback-slider .slick-arrow {
  border-radius: 5px;
  cursor: pointer;
  padding: 30px 10px;
  border: none;
  outline: none;
  font-size: 0;
  top: 50%;
  position: relative;
  z-index: 10;
}

.feedback-slider .slick-arrow.slick-prev {
  text-align: center;
  background: #232323 url("../img/slider/left-arrow-orig.svg") 50% 50%/70% no-repeat;
  left: 0;
}

.feedback-slider .slick-arrow.slick-next {
  text-align: center;
  background: #232323 url("../img/slider/right-arrow-orig.svg") 50% 50%/70% no-repeat;
  right: 0;
}

.feedback-slider__item {
  min-width: 100px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  max-width: 260px;
  min-height: 360px;
  background: #ffffff;
  cursor: move;
}

.feedback-slider__item a {
  cursor: move;
}

.feedback-slider .slick-slider {
  display: flex;
}

.feedback-slider .slick-list {
  overflow: hidden;
}

.feedback-slider .slick-track {
  display: flex;
}

.map {
  position: relative;
}

.card {
  position: absolute;
  top: 16%;
  left: 30%;
}

.card__blocks {
  padding: 30px;
  border-radius: 5px;
  color: #373737;
  background: rgba(255, 255, 255, 0.8);
}

.card__blocks .button {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.card__block {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card__block h3 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 700;
}

.card__block span {
  line-height: 17px;
}

.card__block:last-child {
  margin-bottom: 0px;
}

.card-header-wrap h3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.card-header-wrap img {
  left: 5px;
  position: absolute;
  max-width: 20px;
  max-height: 25px;
}

.footer {
  background: #1a1a1a;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=index.css.map */