/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 Changed from CSS to SASS
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

.button {
  background-color: #303030;
  border-radius: 4px;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 500;
  padding: 13px 22px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #232323;
  color: #d6d6d6;
}

.big-button {
  padding: 20px 18px 20px 18px;
}

.button-more {
  padding: 11px 20px;
  background: none;
  color: #373737;
  border: 2px solid #303030;
}

.button-more:hover {
  background: #282828;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: 500;
  color: #d6d6d6;
  background-color: #333;
}

.container {
  max-width: 946px;
  margin: 0 auto;
}

.header {
  background-color: #474747;
}

.header-img {
  margin-right: 155px;
}

.header__blocks {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-contacts__phone {
  padding-right: 10px;
  border-right: 2px solid #d6d6d6;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}

.header-contacts__phone:last-child {
  border: none;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-button img {
  margin-right: 7px;
}

.button {
  background-color: #303030;
  border-radius: 4px;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 500;
  padding: 13px 22px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #232323;
  color: #d6d6d6;
}

.big-button {
  padding: 20px 18px 20px 18px;
}

.button-more {
  padding: 11px 20px;
  background: none;
  color: #373737;
  border: 2px solid #303030;
}

.button-more:hover {
  background: #282828;
}

.main {
  position: relative;
  background: url(../img/main/main-background.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
}

.main-cardboards {
  margin-right: 30px;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.main__blocks {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  align-items: flex-end;
}

.main-info__title {
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 400;
  line-height: 42px;
  width: 524px;
}

.main-info__title span {
  font-weight: 700;
  font-size: 40px;
}

.info-card {
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.info-card-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.info-card-title span {
  font-weight: 700;
  text-transform: uppercase;
}

.info-card-form {
  margin-bottom: 12px;
}

.info-card-form input {
  background-color: #e7e7e7;
  padding: 21px 114px 21px 19px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.card-small {
  font-size: 13px;
  font-weight: 300;
}

.features-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
}

.features__col {
  flex-basis: 31%;
  margin-right: 30px;
}

.features__col:last-child {
  margin-right: 0px;
}

.features__header {
  box-sizing: content-box;
  padding: 5px;
  min-height: 80px;
  margin-bottom: 25px;
  text-align: center;
  background: #282828;
  color: #d6d6d6;
  font-size: 16px;
  border-radius: 5px;
}

.features__header h2 {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
  color: #e3e3e3;
}

.features__header h2 sup {
  font-size: 23px;
}

.features-card {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 28px 10px 28px 8px;
  border-radius: 5px;
  background-color: #b9b9b9;
}

.features-card__icon {
  margin-right: 5px;
  max-width: 56px;
  max-height: 56px;
}

.features-card__info {
  color: #373737;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.features-card__info div {
  max-width: 210px;
}

.features-card h3 {
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}

.example__header {
  color: #d6d6d6;
  text-align: center;
  text-transform: uppercase;
}

.example__img-wrap {
  text-align: center;
}

.example-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 65px;
}

.example-card {
  display: flex;
  flex-direction: column;
  flex-basis: 49%;
  margin-top: 35px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.example-card__img {
  min-height: 300px;
  max-width: 421px;
}

.example-card__img img {
  overflow: hidden;
}

.example-card__buttons {
  margin-top: 30px;
}
/*# sourceMappingURL=index.css.map */